#myimage{
    filter: blur(15px);
    filter: brightness(1);
    filter: contrast(50%);
    filter: drop-shadow(12px 14px);
}
.box{
    margin: auto;
    width: 150px;
    height: 150px;
    border: 2px solid red;
    box-shadow: 5px 5px 2px blue;
    text-shadow: 2px 2px 5px blue;
    font-size: 30px;
}
.box{
    margin: auto;
    width: 150px;
    height: 150px;
    /* border: 2px solid red;
    transform: translateX(x);
    transform: translateY(y);
    transform: translate(20px,40px);
    transform: translatex(50px);
    transform: scale(2,1); */
    transition: 1s;
}
.box:hover{
    transition: 3.5s;
    /* transform: scale(1.05) translate(200px); */
    background-color: goldenrod;
    transform: rotate(180deg);

}